:root
{
  --color1: #353D40;
  --color2: #D9D9D9;
  --color3: #A1A5A6;
  --color4: #F2B138;
  --color5: #003F63;
  --font: 'Quattrocento', serif;
}

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html
{
  font-size: 62.5%;
}

body
{
  background: var(--color2);
  font-family: var(--font);
  color: var(--color1);
}

main
{
  margin-left: 5vw;
  margin-right: 5vw;
}

.main-header__title
{
  text-align: center;
  font-size: 4.2rem;
  margin-bottom: 0;
  border: 2px solid var(--color3);
}

.main-header__subtitle
{
  text-align: center;
  font-size: 2.8rem;
}

.section-block
{
  margin: 30px auto;
}

.card
{
  margin: 0 auto;
}

.card__image
{
  width: 100%;
}

.card__caption
{
  margin: 0.5rem auto;
  background-color: var(--color5);
  color: var(--color4);
  padding: 1rem;
  font-size: 1.6rem;
}

.section-block--timeline
{
  border-left: 2px solid var(--color5);
  padding: 0 20px 0 30px;
}

.section-block--timeline__header
{
  font-size: 2.2rem;
}

.section-block--timeline__text
{
  font-size: 1.6rem;
}

.card--timeline-item
{
  position: relative;
  margin-bottom: 20px;
  background-color: var(--color5);
  color: var(--color4);
  font-size: 1.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card--timeline-item__header
{
  font-size: x-large;
}

.timeline-content
{
  
  padding: 5px 15px;
  font-size: 16px;
  border: 1px solid var(--color4);
  line-height: 1.7;
  position: relative;
  height: auto;
  margin-bottom: 20px;
  color: var(--color4);
}

.card--timeline-item::before
{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color4);
  border: 3px solid var(--color5);
  position: absolute;
  top: 10px;
  left: -40px;
}

.timeline-content h4
{
  margin: 0;
}

#footer-visit
{
  text-align: center;
  border: 2px solid var(--color3);
  font-size: 1.6rem;
}

#tribute-link
{
  color: var(--color5);
}

@media (min-width: 1024px)
{
  .wrapper
  {
    display: flex;
    align-items: center;
  }
  
  .section-block--timeline
  {
    margin-left: 2rem;
  }
}